# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
#  push:
#    branches: [ "main" ]
#  pull_request:
#    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    environment: sass.mend.io
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Set up Mend Scanners
      run: |

        echo "Downloading the UA"
        curl -LJO "https://github.com/whitesource/unified-agent-distribution/releases/latest/download/wss-unified-agent.jar"
        echo "Downloading the CLI"
        curl https://downloads.mend.io/cli/linux_amd64/mend -o /usr/local/bin/mend && chmod +x /usr/local/bin/mend

    # - name: "Building Maven"
    #   run: |
    #         echo "Building Maven"
    #         mvn clean install

    # Configure Gradle for optimal use in GiHub Actions, including caching of downloaded dependencies.
    # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
    # - name: Setup Gradle
    #   uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # v3.1.0

    # - name: Build with Gradle Wrapper
    #   run: ./gradlew build #--stacktrace --debug 

    - name: "Running the CLI"
      run: |
            mend dep --non-interactive --extended --update --scope "Tyler_Package_Manager-HW//${{ github.repository }}_CLI_nogoogle"
      env:
        MEND_USER_KEY: ${{ secrets.USER_KEY }}
        MEND_EMAIL: ${{ secrets.USER_EMAIL }}
        MEND_URL: ${{ secrets.MEND_URL }}
        MEND_LOG_LEVEL: "DEBUG"
        MEND_APIKEY: ${{ secrets.API_KEY }}

    - name: 'Running the UA'  
      run: |
            echo "gradle.includedConfigurations=runtimeClasspath" >> wss-unified-agent.config
            java -jar wss-unified-agent.jar
      env:
        WS_USERKEY: ${{ secrets.USER_KEY }}
        MEND_EMAIL: ${{ secrets.USER_EMAIL }}
        WS_WSS_URL: "${{ secrets.MEND_URL }}/agent"
        LOG_LEVEL: "DEBUG"
        WS_APIKEY: ${{ secrets.API_KEY }}
        WS_PROJECTNAME: "${{ github.repository }}_includConfigOnly"
        WS_PRODUCTNAME: "Tyler_Package_Manager-HW"
